.light{
  &.customInput {
    &>::placeholder, &>input{
      color: #1B1B1B;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 28px;
    }
  }

  &.analyticsLink_container{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    border: 1px solid #1b1b1b;
    border-radius: 4px;
    padding: 6px;
    .link{
      text-decoration: none;
      color #1b1b1b;
      font-weight: 600;  
    }
  }

  &.priceRow_container{
    font-size: 16px;
    color: #1B1B1B;
    padding: 16px 0;
    display: flex;
    align-items: center;
    height: 46px;
  }
}
.dark{
  &.customInput {
    &>::placeholder, &>input{
      color: #DEDEDE !important;
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 28px;
    } 
  }

  &.analyticsLink_container{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    padding: 6px;
    .link{
      text-decoration: none;
      color #DEDEDE;
      font-weight: 600;  
    }
  }

  &.priceRow_container{
    font-size: 16px;
    color: #DEDEDE;
    padding: 16px 0;
    display: flex;
    align-items: center;
    height: 46px;
  }
}