.customInput {
  &>::placeholder{
    color: #5f5f6b;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600;
  }
}

.analyticsLink_container{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  border: 1px solid #1b1b1b;
  border-radius: 4px;
  padding: 6px;
  .link{
    text-decoration: none;
    color #1b1b1b;
    font-weight: 600;  
  }
}