.dimmer {
  background: rgba(252, 249, 243, 0.7) !important;
}
.sefi-modal {
  max-width: 415px;
  min-height: 192px;
  position: absolute !important;
  right: 144px;
  top: 74px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-radius: 16px !important;
  box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1) !important;
  div,
  span,
  p,
  a,
  button {
    font-size: 16px;
  }
  .header {
    padding: 26px 26px 16px 26px !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom: none !important;
    div,
    span,
    h1,
    p {
      font-weight: 600;
      color: #5f5f6b;
    }
  }
  .content {
    color: #5f5f6b;
    padding: 0 1.5rem 1.5rem 1.5rem !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    div,
    span,
    h1,
    p {
      font-weight: 400;
      color: #5f5f6b;
    }
    button {
      background: #ff726e;
      font-weight: 400;
      color: #fcf9f3;
      font-family: Poppins, Arial, Helvetica, sans-serif;
    }
  }
}

.sefi-grid__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  background: #fcf9f3;
  border-radius: 8px;
  padding: 10px;
  margin: 16px 0;
  .icon_info {
    color: #ff726e;
    border: 0.1px solid #ff726e;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item {
    margin: 5px 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 24px;
  }
  .right {
    justify-content: flex-end;
    text-align: end;
  }
  .left {
    justify-content: flex-start;
    text-align: start;
  }
  strong {
    color: #1b1b1b;
    font-weight: 600;
  }
  &.links {
    a {
      color: #1b1b1b;
      text-decoration: underline;
    }
  }
  .primary {
    a {
      color: #ff726e;
    }
  }
  .sefi-balance {
    display: flex;
    flex-direction: column;
    background: transparent !important;
    img {
      width: 32px;
    }
    div,
    span,
    h1 {
      width: 100%;
      margin: 0;
    }
    span,
    h1 {
      font-weight: 600;
      font-size: 22px;
    }
    h1 {
      font-size: 36px;
      color: #1b1b1b;
    }
  }
}
.background_free {
  background: transparent !important;
}
.sefi-claim__button {
  display: flex;
  min-width: 100%;
  border-radius: 4px;
  min-height: 89px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.align-center {
  display: flex;
  align-items: center;
}
.claim-sefi__container {
  margin: 0;
  grid-template-columns: 40% 60%;
}
.claim-sefi__item {
  margin: 15px 0;
  color: #1b1b1b;
  border: 1px solid #d6d6d6;
  padding: 5px 8px;
  border-radius: 4px;
}
.icon-info__popup {
  background: #5f5f6b !important;
  border-radius: 4px !important;
  color: #f9fafa !important;
  border: none !important;
  min-width: 350px !important;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  a {
    color: #ff726e !important;
    text-decoration: underline;
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  &::before {
    background: #5f5f6b !important;
    border-radius: 4px !important;
    border: none !important;
  }
}
.small-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.displayed-center {
  @extend .align-center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  .displayed-center__item {
    width: 100%;
    img {
      width: 50px;
      margin: 10px 0;
    }
  }
  & span {
    text-align: start;
    margin: 5px 0;
  }
  & h1 {
    font-size: 36px;
    font-weight: 600 !important;
    color: #1b1b1b !important;
  }
  & h1,
  & p {
    margin: 5px 0;
  }
  & span,
  & a {
    margin: 15px 0;
  }
  .claim-button {
    background: #1b1b1b !important;
    padding: 11px 0;
    border: none;
    cursor: pointer;
    min-height: 46px;
    border-radius: 4px;
  }
}

a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}
.loading-sefi {
  h1 {
    color: #1b1b1b !important;
    font-weight: 600 !important;
    font-size: 36px;
  }
  span {
    grid-column: 1 / span 2;
    color: #0d1017 !important ;
  }
}
.loader-container {
  padding-right: 1.5rem !important;
}
.ui.dimmer .ui.loader:after {
  border-color: #5f5f6b transparent transparent !important;
}
.congrats_title,
.congrats_msg {
  font-size: 22px !important;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 600 !important;
  strong {
    color: #ff726e;
  }
}
.congrats_msg {
  color: #1b1b1b !important;
}
.earn-sefi__btn {
  padding: 11px 30px;
  background: #1b1b1b !important;
  border: none;
  border-radius: 4px;
}
.sefi-grid__container-confirm {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto;
  background: #fcf9f3;
  border: 1px solid #ff726e;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0;
}
.confirm-card__content {
  grid-column: 1 / span 3;
  color: #5f5f6b !important;
  font-size: 16px !important;
  margin-top: 1rem;
}
.percentage-confirm {
  font-size: 28px !important;
  color: #ff726e;
}
.align-right {
  justify-content: flex-end;
  text-align: end;
}
.m-small {
  margin: 0.4rem 0;
}
