.light {
    //Colors
    $color-primary : #0E0E10;
    $color-secondary : #5F5F6B;
    $color-success:#3EA248;
    $color-active:#42A8E1;
    $color-failed:#D94C48;
    //Backgrounds
    $background-card:#F9FAFA;
    $background-success:#E9F7EA;
    $background-active:#E5F3FB;
    $background-failed:#FAE6E6;
    $shadow-card:4px 4px 32px rgba(140, 140, 140, 0.25);
    
    &.proposal-row{
        background: $background-card;
        box-shadow: $shadow-card;
        p{
            color: $color-secondary;
            &.title{
                color: $color-primary;
            }
        }
        span{
            color: $color-secondary;
        }
    }
    .status{
        &-passed{
            background: $background-success;
            color: $color-success;
        }
        &-in{
            &.progress{
                background: $background-active;
                color: $color-active;
            }
        }
        &-failed{
            background: $background-failed;
            color: $color-failed;
        }
    }
}
.dark {
    //Colors
    $color-primary : white;
    $color-secondary : #b8b8b8;
    $color-success:#3EA248;
    $color-active:#42A8E1;
    $color-failed:#D94C48;
    //Backgrounds
    $background-card:#0e0e10;
    $background-success:#E9F7EA;
    $background-active:#E5F3FB;
    $background-failed:#FAE6E6;
    // $shadow-card:4px 2px 32px rgba(77, 74, 74, 0.25);
    
    &.proposal-row{
        background: $background-card;
        // box-shadow: $shadow-card;
        p{
            color: $color-secondary;
            &.title{
                color: $color-primary;
            }
        }
        span{
            color: $color-secondary;
        }
    }
    .status{
        &-passed{
            background: $background-success;
            color: $color-success;
        }
        &-active{
            background: $background-active;
            color: $color-active;
            
        }
        &-failed{
            background: $background-failed;
            color: $color-failed;
        }
    }
}
.proposal-row{
    border-radius: 16px;
    text-decoration: none;
    // cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-auto-flow: column;
    padding: 26px;
    width: 100%;
    column-gap: 52px;
    grid-template-columns: 5% calc(40% - 52px) calc(35% - 52px) calc(20% - 52px);
    p{
        font-weight: 600;
        font-size: 22px;
        margin: 0;
    }
    span{
        font-size: 16px;
    }
    div{
        display: grid;
        row-gap: 4px;
    }
}
.proposal-status{
    max-width: 200px;
    font-size: 22px; 
    padding: 14px;
    border-radius: 4px;
    font-weight: 600;
    display: grid;
    align-items: center;
    justify-content: center;
    
}