# dependencies
node_modules
.pnp/
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
thumbs.db
.env*
package-lock.json
.nyc_output
report.*.json
/.vscode/tasks.json
storybook-static

# logs
*debug.log*
*error.log*
.eslintcache

# original
local/
.build
stats.json
s-components
build.sh
docker.sh
tests
.c9
.hg
stats.json
cypress.env.json
.vscode/launch.json
