.light{
  background: linear-gradient(180deg, #FFFFFF 0%, #F8EC99 180.99%);
  width:100%;
  min-height: calc(100vh - 74px);
  padding-top:42px;
  .secured_container{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding:2rem 0 0 0;
  }
  .bridge_link__container{
    display: flex;
    align-items: center;
    justify-content: center; 
    a{
      color: #ff726e
      text-decoration: none;
    }
  }
}

.dark{
  background: linear-gradient(180deg, #242525 0%, #000 180%);
  width:100%;
  min-height: calc(100vh - 74px);
  padding-top:42px;
  scrollbar-color: dark;
  .secured_container{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding:2rem 0 0 0;
    img{
      filter: invert(1)
    }
  }
  .bridge_link__container{
    display: flex;
    align-items: center;
    justify-content: center; 
    a{
      color: #ff726e
      text-decoration: none;
    }
  }
}
