.trade-more__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 2rem;
  letter-spacing: 0.01em;
  &.dark {
    color: #cccccc;
  }
  &.light {
    color: #5f5f6b;
  }
}
.cashback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  img {
    filter: none;
  }
}

.cashback-container__card {
  z-index: 2;
  width: 742px;
  height: 310px;
  padding: 20px;
  border-radius: 16px 16px 0 0;
  display: grid;
  grid-template-columns: calc(45% - 5px) calc(55% - 5px);
  column-gap: 10px;
  &.dark {
    background: #0e0e10;
    color: white;
  }
  &.light {
    background: #ffffff;
    color: #1b1b1b;
  }
}

.congratulations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inheri;
  * {
    margin: auto;
    text-align: center;
  }
  p {
    font-size: 17px;
    text-align: center;
  }
  h1 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
  }
  h2 {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.01em;
  }
  h3 {
    letter-spacing: 0.06em;
    font-size: 30px;
    font-weight: 100;
    strong {
      font-weight: bold;
    }
  }
}

.redeem-sefi__button {
  width: 100%;
  height: 46px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white !important;
  background: #79cc81 !important;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px !important;
  cursor: pointer;
  margin-top: 28px !important;
  &:disabled {
    background: #d6d6d6 !important;
  }
}

.additional-info__container {
  margin-top: -2rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: calc(16px + 2rem) 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 448px;
  .additional-info__row {
    display: flex;
    justify-content: space-between;
  }
  &.dark {
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }
  &.light {
    background: rgba(255, 255, 255, 0.4);
    color: #1b1b1b;
  }
}
.call-toAction__container {
  img {
    width: 100%;
  }
  // display: grid;
  // grid-template-rows: calc(80% - 14px) calc(20% - 14px);
  // row-gap: 28px;
}

.connect_wallet {
  text-align: center;
  color: #ff726e;
}
.rate-bar__container {
  width: 742px;
  border-radius: 0 0 16px 16px;
  padding: 20px;
  z-index: 2;
  &.light {
    background: #f9fafa;
    color: #1b1b1b;
  }
  &.dark {
    background: #151517;
    color: white;
  }
}
.rate-svg__container,
.rate-labels__container {
  height: 94px;
  display: flex;
  justify-content: center;
}
// .rate-labels__container {
//   width: 528px;
//   height: 45px;
// }
.rate-card__container {
  * {
    margin: auto;
    text-align: center;
  }
  p {
    font-size: 12px;
  }
  strong {
    font-size: 16px;
  }
  position: absolute;
  height: 90px;
  // left: calc(100% - 318px);
  display: flex;
  width: 70px;
  flex-direction: column;
  align-items: center;
}

.box-shadow {
  &.light {
    box-shadow: 4px 10px 32px rgba(140, 140, 140, 0.25);
  }
  &.dark {
    box-shadow: 4px 10px 32px rgba(70, 70, 70, 0.25);
  }
  z-index: 3;
  border-radius: 16px;
}
.view-token-button {
  cursor: pointer;
  border-radius: 30px;
  padding: 0 0.6em 0 0.3em;
}

.view-token-button:hover {
  background: rgba(255, 114, 110, 0.1);
}
.chart-value {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.current-rate {
  font-size: 14px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  fill: #0e0e10;
}
.calculation-callToAction {
  color: #ff726e;
}
