.subMenu {
  font-size 14px
  font-family "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-weight 600
  line-height 1.2
  -webkit-font-smoothing antialiased
  margin 0
  align-items center
  color: inherit
}

.scrtAssetBalance {
  font-size 22px
  font-family "Work Sans Thin",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-weight 600
  line-height 1.2
  margin 0
  align-items center
  color: inherit
}
.dark{
  color: white;
}
.light{
  color: black;
}