.proposal-layout{
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    &.dark{
        color: white;
    }
    &.light{
        color: #0E0E10;
    }
    .go-back{
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        justify-content: start;
        align-items: center;
        column-gap: 10px;
        text-decoration: none;
        color: inherit;
        h3{
            margin: 0;
        }
        img{
            filter: none;
        }
    }
}