.light {
  nav {
    background-color: #ffffff;
    z-index: 9999;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li > span {
        color: #1b1b1b;
        opacity: 0.4;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        color: #ff726e;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 0 1rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      ul {
        flex-direction: row;
      }

      li {
        margin-bottom: 0;
      }
    }

    .menu-left {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .nav_menu__items {
        display: flex;
        flex-direction: row;
        width: 233px;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
      }
    }

    .menu-right {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }

      .btn-main {
        background-color: transparent;
        color: #000000;
        border: 1px solid #000000;
        padding: 11px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 5px;
        margin-right: 1rem;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        min-height: 46px;
        max-height: 46px;
        div {
          display: flex;
        }
        p {
          margin: 0;
          font-size: 16px;
        }
        span {
          padding: 0 10px;
        }
        .balance {
          font-weight: 600;
          padding-right: 3px;
        }
        .wallet-icon {
          margin-right: 10px;
        }
      }

      .btn-secondary {
        background-color: #ff726e;
        cursor: pointer;
        border: none;
        padding: 11px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 5px;
        margin-right: 1rem;
        min-height: 46px;
        max-height: 46px;

        a {
          color: #ffffff;
        }
      }
    }
  }

  .active {
    color: #ff726e;
    a {
      color: #ff726e;
    }
  }

  .kpl_images__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    img {
      width: 35px;
      height: 31px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .theme__container {
    img {
      filter: invert(100%);
      padding: 5px;
      width: 35px;
      height: 35px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}

.dark {
  nav {
    background-color: #0e0e10;
    z-index: 9999;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li > span {
        color: white;
        opacity: 0.4;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        color: #ff726e;
      }
    }
  }
  img {
    filter: invert(1);
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 0 1rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      ul {
        flex-direction: row;
      }

      li {
        margin-bottom: 0;
      }
    }

    .menu-left {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      .nav_menu__items {
        display: flex;
        flex-direction: row;
        width: 233px;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
      }
    }

    .menu-right {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }

      .btn-main {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        padding: 11px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: 5px;
        margin-right: 1rem;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        min-height: 46px;
        max-height: 46px;
        div {
          display: flex;
        }
        p {
          margin: 0;
          font-size: 16px;
        }
        span {
          padding: 0 10px;
        }
        .balance {
          font-weight: 600;
          padding-right: 3px;
        }
        .wallet-icon {
          margin-right: 10px;
        }
      }

      .btn-secondary {
        background-color: #ff726e;
        cursor: pointer;
        border: none;
        padding: 11px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 5px;
        margin-right: 1rem;
        min-height: 46px;
        max-height: 46px;

        a {
          color: #0e0e10;
        }
      }
    }
  }

  .active {
    color: #ff726e;
    a {
      color: #ff726e;
    }
  }

  .kpl_images__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    img {
      filter: none !important;
      width: auto;
      height: 31px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
  .theme__container {
    img {
      filter: invert(100%);
      padding: 5px;
      width: 35px;
      height: 35px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}
.keplr__status {
  width: 12px;
  height: 12px;
  margin-left: 26px;
  margin-bottom: 22px;
  border-radius: 6px;
  position: absolute;
  background-color: #da2f4f;

  &--online {
    background-color: #03c076;
  }
}
