.swapContainerStyle {
  z-index: 10;
  border-radius: 16px; 
  padding: 1.625em;
  &.light{
    background-color: white;
    box-shadow: 4px 4px 32px rgba(140, 140, 140, 0.25);
  }
  &.dark{
    background: #0E0E10;
  }
}

.tokenInfoRow {
  border-radius: 20px;
  height: 62px;
  // font-weight 500
  display: flex;
  justify-content: space-between;
  width: 100%;
  // color #2F80ED
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  // border 1px solid rgba(47, 128, 237, 0.5)
  // box-shadow 0 0 0.5rem rgba(0, 0, 0, 0.3)
  cursor: pointer;
  transition: all 0.8s ease;
  outline: none;

  &:hover {
    background-color: rgba(0, 191, 255, 0.1);
  }

  &:disabled {
    color: #848484;
    // border 1px solid #848484
    background-color: transparent;
    cursor: default;
  }
}

.tokenInfoItemsLeft {
  padding-left: 5px;
  align-items: center;
  display: flex;

  * {
    margin-left: 5px;
  }
}

.tokenInfoItemsRight {
  padding-right: 10px;
  align-items: center;
  margin: revert;
}

input {
  text-overflow: ellipsis;
}

.withdrawLiquitityContent{
  // height: 50vh;
  // overflow-y: scroll;
  margin-top: 1rem;
}
.withdrawLiquiditySearch {
  flex: 1;
  border-radius: 4px;  
  width: 100%;
  height: 46px;
  padding: 16px;
  font-size: 18px;
  outline: none;
  margin-bottom: 0.2em; 
  &.light{
    color: #5F5F6B;
    background-color: #F9FAFA;
    border: 1px solid#5F5F6B;
  }
  &.dark{
    color: white;
    background-color: #363636;
    border: 1px solid white;
  }

  &:focus {
    border: 1px solid rgba(255,114,110,1);
  }
  &::placeholder{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 16px; 
  }
}
.provide_button{
  margin: 1em 0 0 0 !important;
  border-radius: 4px !important;
  padding: 11px 42px!important;
  font-size:  16px!important;
  font-weight:  600 !important;
  color: white !important;
  background: rgb(255, 114, 110) !important;
  height: 46px !important;
  &:disabled{ 
    color: black !important;
    background: rgb(222, 222, 222) !important;
  }  
}

.thumb{
  border-radius: 20px;
  &.dark{
    background: #555;
  }  
  &.light {
    background: #ccc;
  }  
}