.balanceButton {
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(247, 248, 250);
  border: 1px solid rgb(237, 238, 242);
  color: rgb(0, 0, 0);
  font-weight: 500;

  &:hover {
    border: 1px solid rgb(207, 210, 221);
  }
}

.balanceAmount {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  font-weight: 500;
  flex-shrink: 0;
}

.balanceContainer {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(237, 238, 242);
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}