.light{
  &.max_button{ 
    margin-right: 2rem;
    border:1px solid #DEDEDE;
    border-radius: 15px !important;
    font-size: 12px;
    font-weight: 700;
    width:63px;
    height: 26px;
    padding: 4px 12px;
    span{
      color: #5F5F6B !important;
    }
  }
  
}
.dark{
  &.max_button{ 
    margin-right: 2rem;
    border:1px solid #DEDEDE;
    border-radius: 15px !important;
    font-size: 12px;
    font-weight: 700;
    width:63px;
    height: 26px;
    padding: 4px 12px;
    span{
      color: #dedede !important;
    }
  }
  
}

#SwapAssetRow_container{
  padding: 1rem;
  @media only screen and (max-width: 753px) {
    margin: 0 !important;  
  }  
}