.itemToken {
  padding-top: 30px;
}

.button {
  border-radius: 15px;
  height: 48px;
  font-weight: 400;
  // width 100%
  color: #000000;
  width: 150px;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  // border 1px solid rgba(47, 128, 237, 0.5)
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.8s ease;
  outline: none;

  &:hover {
    background-color: rgba(47, 128, 237, 0.2);
  }

  margin: 10px;

  &:disabled {
    // border 1px solid #848484
    background-color: #82c8fc;
    color: #010000;
    cursor: default;
  }
}

.tokenInfoRow {
  border-radius: 20px;
  height: 62px;
  // font-weight 500
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // color #2F80ED
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  // border 1px solid rgba(47, 128, 237, 0.5)
  // box-shadow 0 0 0.5rem rgba(0, 0, 0, 0.3)
  cursor: pointer;
  transition: all 0.8s ease;
  outline: none;

  &:hover {
    background-color: rgba(0, 191, 255, 0.1);
  }

  &:disabled {
    color: #848484;
    // border 1px solid #848484
    background-color: transparent;
    cursor: default;
  }
}

.tokenInfoItemsLeft {
  padding-left: 5px;
  align-items: center;
  display: flex;

  * {
    align-items: center;
    margin-left: 5px;
  }
}

.tokenInfoItemsRight {
  padding-right: 10px;
  align-items: center;
  margin: revert;
}

.checkBalance {
  white-space: nowrap;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin-left: 5px;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(33, 45, 94, 0.9);
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  font-weight: 700;

  &:hover {
    // border: 1px solid rgb(255, 255, 255);
    background-color: rgba(33, 45, 94, 1);
  }
}